In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('out_citations_and_conferences_location_ready.csv')
# estraggo lo Stato dalla colonna delle location, per vedere quanti e quali sono

stati = df['ConferenceLocation'].str.split(',').str[-1]
print(stati.unique())
print('\n Ho ' + str(len(stati.unique())) + ' Stati diversi tra loro')

[' United States' ' Poland' ' Austria' ' France' ' Portugal' ' Germany'
 ' Italy' ' United Kingdom' ' Czechia' ' Belgium' ' Australia' ' China'
 ' Greece' ' Taiwan' ' Sweden' ' Estonia' ' Thailand' ' India' ' Chile'
 ' Finland' ' Mozambique' ' Hungary' ' Croatia' ' Japan' ' Israel'
 ' Spain' ' Russia' ' Egypt' ' Canada' ' Brazil' ' Morocco' ' Kenya'
 ' Turkey' ' South Korea' ' Switzerland' ' Ireland' ' Argentina'
 ' Netherlands' ' Romania' ' Bulgaria' ' Peru' ' Tunisia' ' Slovakia'
 ' Denmark' ' New Zealand' ' Senegal' ' Vietnam' ' Pakistan' ' Slovenia'
 ' Dominican Republic' ' Cyprus' ' Mexico' ' Norway' ' South Africa'
 ' Malaysia' ' Georgia' ' Malta' ' Indonesia' ' Iran' ' Lebanon'
 ' Lithuania' ' Bangladesh' ' Algeria' ' Oman' ' United Arab Emirates'
 ' Uruguay' ' Cuba' ' Iceland' ' Qatar' ' Sri Lanka' ' Jordan' ' Ukraine'
 ' Colombia' ' Serbia' ' North Macedonia' ' Philippines' ' The Bahamas'
 ' Montenegro' ' Burkina Faso' ' Latvia' ' Afghanistan' ' Panama'
 ' Cambodia' ' Ecuador' ' Seychelles' ' Ethiopia' ' Tanzania'
 ' Luxembourg' ' Greenland' ' Singapore' ' Mongolia' ' Ghana'
 ' Costa Rica' ' Nepal' ' Fiji' ' Bosnia and Herzegovina' ' Belarus'
 ' Barbados' ' Albania' ' Armenia' ' Kazakhstan' ' Maldives' ' Namibia'
 ' Iraq' ' Myanmar' ' Cameroon' ' Moldova' ' Jamaica' ' Kuwait' ' Malawi'
 ' Venezuela' ' Nigeria' ' Guatemala' ' Uganda' ' Bolivia' ' Benin'
 ' Uzbekistan' ' Azerbaijan' ' Faroe Islands' ' Mauritius' ' Rwanda'
 ' El Salvador' ' Bahrain' ' Saint Kitts and Nevis' ' Liechtenstein'
 ' Botswana']

 Ho 126 Stati diversi tra loro

In [3]:
"""Avendo 126 Stati, i dataset dell'OECD non sono abbastanza utili, in quanto contengono dati di circa 60 Paesi
Procedo quindi con i dataset dell'Organizzazione mondiale del turismo.
Estraggo i dati dai file excel. Tra i dati più coerenti e rilevanti ci sono gli arrivi di turisti
""" 

paesi = pd.read_excel('unwto-inbound-arrivals-data.xlsx', usecols=[3])
paesi.drop([0,1], inplace=True)
# mantengo solo le righe con i nomi degli Stati
paesi = paesi.iloc[::6]
paesi.drop([1340,1346], inplace=True)

"""
Creazione del dataframe con i paesi e i rispettivi arrivi di turisti negli anni.
Importo solo le colonne utili, poi taglio le righe non necessarie.
NB. i numeri di turisti sono espressi in migliaia
"""

arrivi = pd.read_excel('unwto-inbound-arrivals-data.xlsx', header=2, usecols=range(11,37))
arrivi = arrivi.iloc[2::6]
arrivi.drop([1340], inplace=True)
arrivi.replace('..',np.NaN, inplace=True)
arrivi

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,304.0,287.0,119.0,184.0,371.0,317.0,354.0,470.0,557.0,645.0,...,2932.0,3514.0,3256.0,3673.0,4131.0,4736.0,5118.0,5927.0,6406.0,2658.0
14,520.0,605.0,635.0,678.0,749.0,866.0,901.0,988.0,1166.0,1234.0,...,2395.0,2634.0,2733.0,2301.0,1710.0,2039.0,2451.0,2657.0,2371.0,591.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.3,50.2,49.3,51.6,47.1,38.3,42.3,51.8,58.6,NaN
26,NaN,NaN,NaN,NaN,9422.0,10991.0,11351.0,11507.0,11601.0,11668.0,...,7983.0,7900.0,7676.0,7797.0,7850.0,8025.0,8152.0,8328.0,8235.0,5207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1310,879.0,960.0,933.0,813.0,702.0,602.0,792.0,590.0,435.0,618.0,...,625.0,1061.0,1085.0,967.0,882.0,681.0,429.0,NaN,NaN,NaN
1316,1351.0,1607.0,1716.0,1520.0,1782.0,2140.0,2330.0,2628.0,2429.0,2928.0,...,6014.0,6848.0,7572.0,7874.0,7944.0,10013.0,12922.0,15498.0,18009.0,3687.0
1322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1175.0,1282.0,1323.0,1218.0,398.0,NaN,NaN,NaN,NaN,NaN
1328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334,1416.0,1597.0,1336.0,2090.0,2250.0,1967.0,2217.0,2041.0,2256.0,1854.0,...,2423.0,1794.0,1833.0,1880.0,2057.0,2168.0,2423.0,2580.0,2294.0,639.0

In [4]:
# aggiungo gli Stati al dataframe dei valori
arrivi['Paesi'] = paesi

# La colonna dei Paesi è in fondo al dataframe, la imposto come prima colonna per una miglior leggibilità
cols = arrivi.columns.tolist()
cols = cols[-1:] + cols[:-1]
arrivi = arrivi[cols]
arrivi

,Paesi,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
2,AFGHANISTAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ALBANIA,304.0,287.0,119.0,184.0,371.0,317.0,354.0,470.0,557.0,...,2932.0,3514.0,3256.0,3673.0,4131.0,4736.0,5118.0,5927.0,6406.0,2658.0
14,ALGERIA,520.0,605.0,635.0,678.0,749.0,866.0,901.0,988.0,1166.0,...,2395.0,2634.0,2733.0,2301.0,1710.0,2039.0,2451.0,2657.0,2371.0,591.0
20,AMERICAN SAMOA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.3,50.2,49.3,51.6,47.1,38.3,42.3,51.8,58.6,NaN
26,ANDORRA,NaN,NaN,NaN,NaN,9422.0,10991.0,11351.0,11507.0,11601.0,...,7983.0,7900.0,7676.0,7797.0,7850.0,8025.0,8152.0,8328.0,8235.0,5207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1310,"VENEZUELA, BOLIVARIAN REPUBLIC OF",879.0,960.0,933.0,813.0,702.0,602.0,792.0,590.0,435.0,...,625.0,1061.0,1085.0,967.0,882.0,681.0,429.0,NaN,NaN,NaN
1316,VIET NAM,1351.0,1607.0,1716.0,1520.0,1782.0,2140.0,2330.0,2628.0,2429.0,...,6014.0,6848.0,7572.0,7874.0,7944.0,10013.0,12922.0,15498.0,18009.0,3687.0
1322,YEMEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1175.0,1282.0,1323.0,1218.0,398.0,NaN,NaN,NaN,NaN,NaN
1328,ZAMBIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334,ZIMBABWE,1416.0,1597.0,1336.0,2090.0,2250.0,1967.0,2217.0,2041.0,2256.0,...,2423.0,1794.0,1833.0,1880.0,2057.0,2168.0,2423.0,2580.0,2294.0,639.0

In [6]:
arrivi.to_csv('tourist_arrivals_by_country_and_year.csv', index=False)